<br>
<h1 style="text-align: center">Modal Driven Form</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="container">

  <div class="form-group">
    <label for="inputAddress">Name</label>
    <input formControlName="name" type="text" class="form-control" id="inputAddress">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Surname</label>
    <input formControlName="surname" type="text" class="form-control" id="inputAddress2">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input formControlName="email" type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input formControlName="password" ftype="password" class="form-control" id="inputPassword4">
    </div>
  </div>
  <button type="submit" value="submit" class="btn btn-primary">Submit</button>
    <br>
    <br>
<ol>
  <li> Name: {{name}}</li>
  <li> Surname: {{surname}}</li>
  <li> Email: {{email}}</li>
  <li> Password: {{password}}</li>
</ol>
  </div>
</form>
<br><br>
<h1 style="text-align: center">Template Driven Form</h1>
<div class="container">
  <form>
    <form></form>
    <form></form>
    <form>
      <form></form>
    </form>
    <form>
      <form></form>
    </form>
  </form>
</div>
